@model JobTracker.Models.JobViewModels.CreateJobViewModel

@{
    ViewData["Title"] = "Add a Job";
}

<h2>Create</h2>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                 @Html.LabelFor(model => model.Job.Title)
                <input asp-for="@Model.Job.Title" class="form-control" />
                <span asp-validation-for="@Model.Job.Title" class="text-danger" />

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Job.Location)
                <input asp-for="@Model.Job.Location" class="form-control" />
                <span asp-validation-for="@Model.Job.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Job.Status)
                <input asp-for="@Model.Job.Status" class="form-control" />
                <span asp-validation-for="@Model.Job.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Job.SalaryRange)
                <input asp-for="@Model.Job.SalaryRange" class="form-control" />
                <span asp-validation-for="@Model.Job.SalaryRange" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Job.Notes)
                <input asp-for="@Model.Job.Notes" class="form-control" />
                <span asp-validation-for="@Model.Job.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(model => model.Job.Company.CompanyName)
                @Html.DropDownList(
                            "Job.Company.CompanyName",
                            @Model.CompanyList,
                            new
                            {
                                @name = "Job.Company.CompanyName"
                            }
                        )
                @Html.ValidationMessageFor(model => model.Job.Company.CompanyName, "", new { @class="text-danger"})
            </div>
        </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
